.fabu_form {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}


.fabu_form .btn {
    margin-top: 40px;
    margin-left: 200px;
    width: 100px;
    height: 40px;
    background-color: #1677ff;
    border-color: #1677ff;
    color: #fff;
}

.chuan {
    margin-left: 90px;
}